$nav-item-height: $header-height;

.nav {
    text-align: center;
    user-select: none;
    z-index: 10;
}

.nav ul {
    overflow: unset;
    padding: 0;
}

.nav li {
    position: relative;
    display: block;
}

.nav a {
    @include fs(16px);
    display: flex;
    align-items: center;
    height: $nav-item-height;
    padding: 0 1.5em;
    color: $color-0;
    border-left: 1px solid $color-grey-1;
    text-decoration: none;
    transition: $transition-1;

    &.button {
        color: #fff;
    }
}

.nav a:hover,
.nav a:focus {
    color: $color-1;
}

.nav li.open > a {
    color: $color-1;
}

.nav .trigger > a > i {
    @include fs(12px);
    cursor: pointer;
    margin: 0 0 0 1em;
    opacity: 0.25;
}

.nav > ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.nav > ul > li {
    //margin: 0 0 0 32px;
}

.nav > ul li:last-child ul {
    left: auto;
    right: 0;
    text-align: right;
}

.nav ul ul {
    //border-radius: 0.25em;
    padding: 0;
    left: 1px;
    opacity: 0;
    position: absolute;
    top: -9999px;
    background: #fff;
    white-space: nowrap;
    min-width: 200px;
    border-top: 1px solid $color-grey-1;
    box-shadow: $box-shadow-1;
    text-align: left;
    transition: opacity 0.35s;
    overflow: hidden;
}

.nav ul ul li {

}

.nav ul ul a {
    @include fs(14px);
    height: 3.5em;
    padding: 10px;
    margin: 0;
    border-left: none;
    border-bottom: 1px solid $color-grey-1;

    i {
        width: 1.75em;
        opacity: 0.5;
    }
}

.nav ul ul a:hover,
.nav ul ul a:focus {
    background: $color-grey-2;
}

.nav li.open ul {
    top: 100%;
    opacity: 1;
    z-index: 10;
}

@media (max-width: 900px) {
    .nav {display: none;}
}
