.blog {
    margin: 0 auto;

    &:not(.blog-widget) {
        .post:first-of-type {
            width: 100%;
            display: flex;
            justify-content: center;

            .summary {
                display: block;
            }

            & > * {
                width: 50%;
            }

            & .cover {
                order: 1;
            }

            .info {
                padding: 2em;
                text-align: left;
            }
        }
    }

    .container {

        & > .group {
            margin: 0 -2em;
        }

    }

    .group {
        justify-content:center;

    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .post {
        width: calc(33.333% - 2em);
        margin: 1em;
        background: #f8f8f8;
        box-shadow: $box-shadow-1;
        border-radius: 0.125em;
        overflow: hidden;
        transition: $transition-1;

        &:hover,
        &:focus{
            box-shadow:$box-shadow-3;

            img {
                opacity: 0.85;
                transform: scale(1.08);
            }
        }
    }

    .cover {
        margin: 0 auto;
        overflow: hidden;

        img {
            width: 100%;
            transition: $transition-1;
        }

    }

    .caption {
        display: none;
    }

    .info {
        padding: 2em;
        text-align: center;
    }

    .title {

    }

    .summary {
        @include fs(16px);
        //display: none;
        padding-top: 1em;
        opacity: 0.75;
    }
}

@media (max-width: 768px) {
    .blog{

        .container > .group {
            margin: 0;
        }

    }
}

@media (max-width: 640px) {

}
