$button-color: #fff;
$button-background: $color-1;

/* Button Styling */
.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 100%;


    &-center {
        justify-content: center;

        .button + .button {
            margin: 0 .5em;
        }
    }

    &-right {
        justify-content: flex-end;
    }

}



.button {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 1.125em;
    background: $button-background;
    color: $button-color;
    //border-radius: 0.25em;
    line-height: 1;
    transition: 150ms ease;
    text-decoration: none;
    user-select: none;
    cursor: pointer;

    + .button {
        margin: 0 0 0 1em;
    }

    &:hover,
    &:focus {
        background: lighten($button-background, 10%);
        box-shadow: $box-shadow-2;
    }

    &:active {
        background: darken($button-background, 10%);
        box-shadow: $box-shadow-2;
        transform: translateY(1px);
    }

    i + span,
    span + i {
        margin-left: 0.5em;
    }

    // Unique styles
    &-reverse {
        background: #fff;
        color: $button-background;
    }
    &-ghost {
        background: transparent;
        color: $button-background;
        border: 1px solid $button-background;
    }
    &-secondary {
        color: inherit;
        background: rgba(0,0,0,0.25);

        &:hover,
        &:focus {
            background: rgba(0,0,0,0.15);
        }
    }
    &-tertiary {
        color: inherit;
        background: $color-3;

        &:hover,
        &:focus {
            background: darken($color-3, 5%);
        }
    }
    &-text {
        color: $color-1;
        background: transparent;
    }

    @media (max-width: 768px) {
        &,
        + &{
            margin: 0 1em 1em 0;
        }
    }
}

button.button,
input[type="submit"].button {
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: $button-color;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
