.hero {
    position: relative;
    background: #2b2b2b;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 50%;
        bottom: 0;
        background-image: url(../images/financial-planning.jpg);
        background-size: cover;
        background-position: center;
        opacity: 0.75;
    }

    .container {
        height: 100vh;
        display: flex;
        align-items: center;
    }

    .group {
        align-items: center;
        justify-content: flex-end;
        width: 100%;

        .text {
            width: 40%;
            color: #fff;
        }

        h1 {
            //max-width: min-content;
        }
    }

    .buttons {
        margin-top: 3em;
    }

}
