.tags{
	margin-top: 0.75em;
	.tag {
	    font-size: 0.875rem;
	    text-decoration: none;
	    color: $color-1;
	    transition: $transition-1;

	    @include hocus {
	        opacity: 1;
	    }

		&:only-child {
		    margin: 0;
		}
	}
}
